* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    font-family: "Roboto", sans-serif;
    background-color: hsl(235, 18%, 26%);
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
    border-radius: 0.5em;
    background-color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 4em;
}

ul {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 1em;
    border-radius: 0.5em;
}

button {
    margin-top: 1.5em;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border: none;
    padding: 1em;
    border-radius: 0.5em;
}

.cover-container {
    width: 40em;
    background-image: url("assets/images/illustration-sign-up-desktop.svg");
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }